* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Colors */

.bg-grey {
    background-color: #f6f8f9;
}
.bg-white {
    background-color: white;
}
.bg-sky {
    background-color: #67a9ef;
}
.bg-purple {
    background-color: #9772e1;
}
.bg-green {
    background-color: #7cbeaa;
}
.bg-orange {
    background-color: #e5a33b;
}
.bg-pink {
    background-color: #c96a9f;
}
.bg-lime {
    background-color: #b4c937;
}
.mark {
    color: #b7f4e3;
    border: 1px solid #b7f4e3;
    border-radius: 50%;
    font-size: 0.5em;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}
.cross {
    color: #d9624d;
    border: 1px solid #d9624d;
    border-radius: 50%;
    font-size: 0.5em;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}
.txt-grey {
    color: #cbd0d4;
    border: 1px solid #cbd0d4;
}
.txt-white {
    color: white;
}

/* Borders */

.nav-borders {
    border-radius: 5px;
    font-size: 0.6em;
    padding: 5px;
    display: inline-block;
}
.section-borders {
    border-radius: 10px;
    font-size: 0.5em;
    padding: 5px;
    display: inline-block;
}

/* Utility */
body {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}
header {
    padding: 20px;
}
h1 {
    display: inline;
}
main {
    padding: 50px;
}
.container {
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
}
nav {
    margin-bottom: 20px;
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f6f8f9;
}
section {
    margin-bottom: 20px;
    padding-left: 30px;
}
li {
    padding: 10px;
    font-size: 0.8em;
    list-style: none;
}
